In [7]:
# Question 1: Create a dictionary of student names and their ages
stu = {'Praveen': 27, "Vamsi" : 25, "Bharath": 24}
stu

{'Praveen': 27, 'Vamsi': 25, 'Bharath': 24}

In [15]:
# Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}
a = {'a': 1, 'b': 2, 'c': 3}
a['d'] = 4 
a

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [19]:
# Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
s = {'name': 'John', 'age': 25, 'city': 'New York'}
s.keys()

dict_keys(['name', 'age', 'city'])

In [20]:
# Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
b = {'python': 3, 'java': 2, 'c++': 1}
b.values()

dict_values([3, 2, 1])

In [23]:
# Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
di = {'name': 'Alice', 'age': 30, 'city': 'London'}
if 'age' in di:
    print('It is available')
else:
    pritn('It is not there')

It is available

In [27]:
# Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
r = {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
del r['temp']
r

{'a': 1, 'b': 2, 'c': 4}

In [29]:
# Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
al = {'math': 85, 'science': 92, 'english': 78}
sum(al.values())

255

In [30]:
# Question 8: Create a dictionary with squares of numbers 1 to 5
sq = {p: p**2 for p in range(1,6)}
sq

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [33]:
# Question 9: Count frequency of each character in string "hello"
text = "hello"
freq = {}

for char in text:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1

print(freq)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [39]:
# Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}
p = {'a': 1, 'b': 2}
q = {'c': 3, 'd': 4}
p.update(q)
p

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [46]:
# Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}
f = {'person': {'name': 'Alice', 'age': 25}}
g = {'depart':{'Transport': 1, 'Telecom':2}}
print(f)
print(g)

{'person': {'name': 'Alice', 'age': 25}}
{'depart': {'Transport': 1, 'Telecom': 2}}

In [10]:
# Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}
data = {'person': {'name': 'Alice', 'age': 25}}
b = data['person']['name']
b

'Alice'

In [11]:
# Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
com = {'Google': ['social media', 'backend'], 'Amazon': ['Grocery', 'Electronics']}
com

{'Google': ['social media', 'backend'], 'Amazon': ['Grocery', 'Electronics']}

In [23]:
# Question 14: Add 'orange' to the 'fruits' list in nested dictionary
x = {'fruits':{'yellow': 'mango', 'pink': 'dragon fruit'} }
y = x['fruits']['color'] = 'orange'
print(x)

{'fruits': {'yellow': 'mango', 'pink': 'dragon fruit', 'color': 'orange'}}

In [29]:
# Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
num = {'male':('rahul','virat'), 'female':('rani','rukmini')}
num

{'male': ('rahul', 'virat'), 'female': ('rani', 'rukmini')}

In [30]:
# Question 16: Extract first coordinate from nested tuple
m = {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
n = m['coordinates'][0]
n

10

In [31]:
# Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
mat = {'even':{2,4,8}, 'odd':{3,5,7}}
mat

{'even': {2, 4, 8}, 'odd': {3, 5, 7}}

In [39]:
# Question 18: Add 'o' to vowels set in nested dictionary
vow = {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
vow['vowels'].add('o')
vow

{'vowels': {'a', 'e', 'i', 'o'}, 'consonants': {'b', 'c', 'd'}}

In [44]:
# Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
planet = {'universe':{'galaxy':{'earth':{'India'}}}}
planet

{'universe': {'galaxy': {'earth': {'India'}}}}

In [59]:
# Question 20: Access employee name from 3-level nested dictionary
em = {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
em['company']['department']['employee']['name']

'John'

In [61]:
# Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
d_type = {'int': 95, 'float': 3.147, 'bool': 'True', 'str': 'praveen'}
d_type

{'int': 95, 'float': 3.147, 'bool': 'True', 'str': 'praveen'}

In [94]:
# Question 22: Check data type of each value in mixed dictionary
d = {'int': 95, 'float': 3.147, 'bool': 'True', 'str': 'praveen'}

for key, value in d.items():
    print(f'{value} = {key}')

95 = int
3.147 = float
True = bool
praveen = str

In [100]:
# Question 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}
a = {'len': len('len'), 'str': 'string', 'int': 725}
a

{'len': 3, 'str': 'string', 'int': 725}

In [117]:
# Question 24: Apply each function to "123" using dictionary
c = {'len': len, 'str': str, 'int': int}
value = '123'

for l, s in c.items():
    res = s(value)
    print(f'{l}({value})=>{res}')

len(123)=>3
str(123)=>123
int(123)=>123

In [124]:
# Question 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}
function = {
    'double': lambda x: x * 2,
    'square': lambda x: x ** 2
}
value = 5
print("Double:", function['double'](value))  
print("Square:", function['square'](value))

Double: 10
Square: 25

In [125]:
# Question 26: Apply each lambda function to 5
for name, func in function.items():
    result = func(value)
    print(f"{name}({value}) => {result}")

double(5) => 10
square(5) => 25

In [126]:
# Question 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}
class_dict = {
    'list': list,
    'dict': dict,
    'set': set
}
print(class_dict['list']([1, 2, 3]))   # Output: [1, 2, 3]
print(class_dict['dict']([(1, 'a'), (2, 'b')]))  # Output: {1: 'a', 2: 'b'}
print(class_dict['set']([1, 2, 2, 3])) # Output: {1, 2, 3}

[1, 2, 3]
{1: 'a', 2: 'b'}
{1, 2, 3}

In [127]:
# Question 28: Create instances using class dictionary
list_instance = class_dict['list']([1, 2, 3])
dict_instance = class_dict['dict']([(1, 'a'), (2, 'b')])
set_instance = class_dict['set']([1, 2, 2, 3])

# Print the results
print("List instance:", list_instance)
print("Dict instance:", dict_instance)
print("Set instance:", set_instance)

List instance: [1, 2, 3]
Dict instance: {1: 'a', 2: 'b'}
Set instance: {1, 2, 3}

In [129]:
# Question 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}
di = {'a': None, 'b': None, 'c': None}
di

{'a': None, 'b': None, 'c': None}

In [131]:
# Question 30: Replace all None values with 0
d = {k: (0 if v is None else v) for k, v in di.items()}
d

{'a': 0, 'b': 0, 'c': 0}

In [133]:
# Question 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}
boo = {"Married": True, 'Educated': False, 'Indian': True}
boo

{'Married': True, 'Educated': False, 'Indian': True}

In [134]:
# Question 32: Count True values in boolean dictionary
def count_true_values(d):
    return sum(1 for value in d.values() if value is True)

count = count_true_values(boo)
print("Number of True values:", count)

Number of True values: 2

In [135]:
# Question 33: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}
com = {'z1': 3+4j, 'z2': 1+2j}
com

{'z1': (3+4j), 'z2': (1+2j)}

In [136]:
# Question 34: Find magnitude of each complex number
for name, cnum in com.items():
    magnitude = abs(cnum)
    print(f"Magnitude of {name} ({cnum}) is {magnitude}")

Magnitude of z1 ((3+4j)) is 5.0
Magnitude of z2 ((1+2j)) is 2.23606797749979

In [137]:
# Question 35: Create a 4-level nested dictionary
four = {'century':{"Year":{"Month":{'Week':{'Day': 23}}}}}
four

{'century': {'Year': {'Month': {'Week': {'Day': 23}}}}}

In [138]:
# Question 36: Access deepest value in 4-level nested dictionary
four['century']['Year']['Month']['Week']['Day']

23

In [141]:
# Question 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}
rang = {'r1': range(3), 'r2': range(5)}
rang

{'r1': [0, 1, 2], 'r2': [0, 1, 2, 3, 4]}

In [142]:
# Question 38: Convert each range to list
print({k: list(v) for k, v in rang.items()})

{'r1': [0, 1, 2], 'r2': [0, 1, 2, 3, 4]}

In [147]:
# Question 39: Create a dictionary with generator values
gen_dict = {
    'gen1': (x for x in range(3)),
    'gen2': (x**2 for x in range(4))
}

for name, gen in gen_dict.items():
    print(f"{name}:", list(gen))

gen1: [0, 1, 2]
gen2: [0, 1, 4, 9]

In [149]:
# Question 40: Convert each generator to list
def convert_generators_to_lists(d):
    for key in d:
        d[key] = list(d[key])
    return d

gen_dict = {
    'gen1': (x for x in range(3)),
    'gen2': (x**2 for x in range(4))
}


converted = convert_generators_to_lists(gen_dict)
print(converted)

{'gen1': [0, 1, 2], 'gen2': [0, 1, 4, 9]}

In [150]:
# Question 41: Create a dictionary with iterator values
iter_dict = {
    'it1': iter([1, 2, 3]),
    'it2': iter('abc')
}

for name, it in iter_dict.items():
    print(f"{name}: ", list(it))

it1:  [1, 2, 3]
it2:  ['a', 'b', 'c']

In [152]:
# Question 42: Extract all elements from each iterator
iter_dict = {
    'it1': iter([1, 2, 3]),
    'it2': iter('abc')
}

for key in iter_dict:
    iter_dict[key] = list(iter_dict[key])

# Print the updated dictionary
print(iter_dict)

{'it1': [1, 2, 3], 'it2': ['a', 'b', 'c']}

In [153]:
# Question 43: Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}
nes_lis =  {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}
nes_lis

{'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

In [ ]:
# Question 44: Find sum of each nested list

In [156]:
# Question 45: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}
nes_dic = {'config': {'db': {'host': 'localhost', 'port': 5432}}}
nes_dic

{'config': {'db': {'host': 'localhost', 'port': 5432}}}

In [157]:
# Question 46: Access database port from nested configuration
nes_dic['config']['db']['port']

5432

In [158]:
# Question 47: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}
nes_tup = {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}
nes_tup

{'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}

In [160]:
# Question 48: Extract first point coordinates
nes_tup['points'][0]

(1, 2)

In [162]:
# Question 49: Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}
nes_se = {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}

# As we know sets are unhashable - they can't be elements of other sets or keys in dictinaries

TypeError: unhashable type: 'set'

In [ ]:
# Question 50: Find union of all nested sets