In [1]:
# Question 1: Create a list of first 10 square numbers
squ = [i ** 2 for i in range(1, 11)]
squ

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
res = sum(i for i in a if i % 2 == 0)
res

30

In [15]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
s = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
p = list(set(s))
p

[1, 2, 3, 4, 5, 6, 7]

In [17]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
des = [64, 34, 25, 12, 22, 11, 90]
des.sort(reverse = True)
des

[90, 64, 34, 25, 22, 12, 11]

In [22]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
num = [15, 23, 31, 42, 56, 78, 91]
aver = sum(num) / len(num)
aver

48.0

In [29]:
# Question 6: Create a list of first 15 Fibonacci numbers
fibo = [0,1]

for i in range(2,15):
    num = fibo[-1] + fibo[-2]
    fibo.append(num)
fibo

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [49]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
c = [45, 67, 23, 89, 12, 34, 78]
p = sorted(c,reverse = True)
res = p[1]
res

78

In [40]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
li[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [51]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
a = [1, 5, 2, 5, 3, 5, 4, 5, 6]
res = a.count(5)
res

4

In [52]:
# Question 10: Create a list of prime numbers between 1 and 50
primes = []

for num in range(2, 51):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        primes.append(num)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [1]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
m = [1, 2, 3, 4, 5]
n = [4, 5, 6, 7, 8]
res = list(set(m) & set(n))
res

[4, 5]

In [10]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
fla_lis = [[1, 2], [3, 4], [5, 6]]
fla_lis

[[1, 2], [3, 4], [5, 6]]

In [12]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sub = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

def sum_each_sublist(data):
    result = []
    for sublist in data:
        total = 0
        for num in sublist:
            total += num
        result.append(total)
    return result

data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sums = sum_each_sublist(data)
print(sums)

[6, 15, 24]

In [16]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transposed = []

# Outer loop for columns (0, 1, 2)
for i in range(len(a[0])):
    row = []
    
    # Inner loop for rows (0, 1, 2)
    for j in range(len(a)):
        row.append(a[j][i])
    transposed.append(row)

print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [18]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
dat = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
max_values = []

for sublist in dat:
    max_val = sublist[0]
    for num in sublist:
        if num > max_val:
            max_val = num
    max_values.append(max_val)

print(max_values)

[5, 9, 8]

In [20]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
third = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
third

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [21]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
data = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

total = 0

for block in data:
    for row in block:
        for num in row:
            total += num

print("Total sum:", total)

Total sum: 36

In [23]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
dat = data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

even_numbers = []

for sublist in dat:
    for num in sublist:
        if num % 2 == 0:
            even_numbers.append(num)

print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8]

In [30]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
mix = [1, "hello", 3.14, True, [1, 2, 3]]
print(mix)

[1, 'hello', 3.14, True, [1, 2, 3]]

In [31]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
fruits = ["apple", "banana", "cherry", "date"]

length = []

for fruit in fruits:
    length.append(len(fruit))

print(length)

[5, 6, 6, 4]

In [1]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
l= [(1, 'a'), (2, 'b'), (3, 'c')]
l

[(1, 'a'), (2, 'b'), (3, 'c')]

In [2]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
data= [(1, 'a'), (2, 'b'), (3, 'c')]
first_element=[]
for i in data:
    first_element.append(i[0])
print(first_element)

[1, 2, 3]

In [3]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
my_dict=([{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}])
print(my_dict)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [4]:
# Question 25: Extract all 'name' values from list of dictionaries
my_dict=([{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}])
names=[]
for person in my_dict:
    names.append(person['name'])
print(names)

['Alice', 'Bob']

In [6]:
# Question 26: Find the person with maximum age in list of dictionaries
my_dict=([{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}])

max_age = my_dict[0]['age']
person = my_dict[0]['name']

for entry in my_dict:
    if entry['age'] > max_age:
        max_age = entry['age']
        person = entry['name']

print("Person with max age:", person)
print("Age:", max_age)

Person with max age: Bob
Age: 30

In [8]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
a = list([
    list([
        list([list([1, 2]), list([3, 4])]),
        list([list([5, 6]), list([7, 8])])
    ]),
    list([
        list([list([9, 10]), list([11, 12])]),
        list([list([13, 14]), list([15, 16])])
    ])
])

print(a)

[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [10]:
# Question 28: Find the maximum value in 4D list
data = [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]],
        [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]


max_val = data[0][0][0][0]  # Start with the first element

for block1 in data:
    for block2 in block1:
        for row in block2:
            for num in row:
                if num > max_val:
                    max_val = num

print("Maximum value:", max_val)

Maximum value: 16

In [12]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
a = list([
    set([1, 2, 3]),
    set([4, 5, 6]),
    set([7, 8, 9])
])

print(a)

[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [13]:
# Question 30: Find the union of all sets in list of sets
result = set()          
for s in a:
    result = result.union(s)

print(result)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
a = [1+2j, 3+4j, 5+6j]
print(a)

[(1+2j), (3+4j), (5+6j)]

In [15]:
# Question 32: Find the magnitude of each complex number in list
nums = [1+2j, 3+4j, 5+6j]

magnitudes = [abs(z) for z in nums]

print(magnitudes)

[2.23606797749979, 5.0, 7.810249675906654]

In [16]:
# Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
nested_list = [1, [2, 3], [4, [5, 6]], 7]
print(nested_list)

[1, [2, 3], [4, [5, 6]], 7]

In [ ]:
# Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]

In [20]:
# Question 35: Create a list of functions: [len, str, int, float]
list=[len,str,int,float]
print(list)

[<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]

In [21]:
# Question 36: Apply each function in list to string "123"
func = [len, str, int, float]
s = "123"

result = [f(s) for f in func]
print(result)

[3, '123', 123, 123.0]

In [22]:
# Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
funcs =  [lambda x: x * 2,
    lambda x: x ** 2,
    lambda x: x + 1]
print(funcs)

[<function <lambda> at 0x000001A966397820>, <function <lambda> at 0x000001A966397AF0>, <function <lambda> at 0x000001A9649031F0>]

In [23]:
# Question 38: Apply each lambda function to 5
result = [f(5) for f in funcs]    #x=5
print(result)

[10, 25, 6]

In [29]:
# Question 39: Create a list of classes: [list, dict, set, tuple]
classes=[list,dict,set,tuple]
print(classes)

[[<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>], <class 'dict'>, <class 'set'>, <class 'tuple'>]

In [32]:
# Question 40: Create instances of each class in list

In [33]:
# Question 41: Create a list of None values: [None, None, None, None]
none_list = [None] * 4
print(none_list)

[None, None, None, None]

In [34]:
# Question 42: Replace all None values with 0 in list
none_list=[None,None,None,None]
res = [0 if x is None else x for x in none_list]
print(res)

[0, 0, 0, 0]

In [35]:
# Question 43: Create a list of boolean values: [True, False, True, False]
val=[True, False, True, False]
print(val)

[True, False, True, False]

In [36]:
# Question 44: Count True values in boolean list
val=[True, False, True, False]
count_true = sum(val)
print(count_true)

2

In [37]:
# Question 45: Create a list of ranges: [range(3), range(5), range(2)]
res=[range(3),range(5),range(2)]
print(res)

[range(0, 3), range(0, 5), range(0, 2)]

In [41]:
# Question 46: Convert each range to list
del list

res = [range(3), range(5), range(2)]
lists = [list(r) for r in res]
print(lists)

[[0, 1, 2], [0, 1, 2, 3, 4], [0, 1]]

In [47]:
# Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]
generators = [(x for x in range(3)), (x for x in range(5))]
for gen in generators:
    print(list(gen))

[0, 1, 2]
[0, 1, 2, 3, 4]

In [49]:
# Question 48: Convert each generator to list
converted = []

for gen in generators:
    converted.append(list(gen))

print(converted)

[[], []]

In [50]:
# Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
iters = [iter([1, 2, 3]), iter([4, 5, 6])]
print(iters)

[<list_iterator object at 0x000001A9659E4160>, <list_iterator object at 0x000001A9659E4610>]

In [51]:
# Question 50: Extract all elements from each iterator
iters = [iter([1, 2, 3]), iter([4, 5, 6])]

result = [list(it) for it in iters]
print(result)

[[1, 2, 3], [4, 5, 6]]