In [1]:
# Question 1: Create a list of first 10 square numbers
squ = [i ** 2 for i in range(1, 11)]
squ

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
res = sum(i for i in a if i % 2 == 0)
res

30

In [15]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
s = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
p = list(set(s))
p

[1, 2, 3, 4, 5, 6, 7]

In [17]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
des = [64, 34, 25, 12, 22, 11, 90]
des.sort(reverse = True)
des

[90, 64, 34, 25, 22, 12, 11]

In [22]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
num = [15, 23, 31, 42, 56, 78, 91]
aver = sum(num) / len(num)
aver

48.0

In [29]:
# Question 6: Create a list of first 15 Fibonacci numbers
fibo = [0,1]

for i in range(2,15):
    num = fibo[-1] + fibo[-2]
    fibo.append(num)
fibo

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [49]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
c = [45, 67, 23, 89, 12, 34, 78]
p = sorted(c,reverse = True)
res = p[1]
res

78

In [40]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
li[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [51]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
a = [1, 5, 2, 5, 3, 5, 4, 5, 6]
res = a.count(5)
res

4

In [52]:
# Question 10: Create a list of prime numbers between 1 and 50
primes = []

for num in range(2, 51):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        primes.append(num)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]