In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_excel("/content/Sample - Superstore.xls")

In [4]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [5]:
df.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,2016-04-30 00:07:12.259355648,2016-05-03 23:06:58.571142912,55190.379428,229.858001,3.789574,0.156203,28.656896
min,1.000000,2014-01-03 00:00:00,2014-01-07 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,2015-05-23 00:00:00,2015-05-27 00:00:00,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,2016-06-26 00:00:00,2016-06-29 00:00:00,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,2017-05-14 00:00:00,2017-05-18 00:00:00,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,2017-12-30 00:00:00,2018-01-05 00:00:00,99301.000000,22638.480000,14.000000,0.800000,8399.976000
std,2885.163629,NaN,NaN,32063.693350,623.245101,2.225110,0.206452,234.260108

In [6]:
## Question 1: Find total number of orders in the dataset.
df.shape

(9994, 21)

In [7]:
df['Order ID'].count()

np.int64(9994)

In [8]:
## Question 2: Find the earliest order date.
df['Order Date'].min()

Timestamp('2014-01-03 00:00:00')

In [9]:
## Question 3: Find the latest order date.
df['Order Date'].max()

Timestamp('2017-12-30 00:00:00')

In [10]:
## Question 4: Find the total number of unique customers.
df['Customer ID'].nunique()

793

In [11]:
## Question 5: Find the total number of unique products sold
df['Product ID'].nunique()

1862

In [12]:
## Question 6: Find the total number of unique categories.
df['Category'].nunique()

3

In [13]:
## Question 7: Find the total number of unique sub-categories.
df['Sub-Category'].nunique()

17

In [14]:
## Question 8: Count number of orders in each region.
df['Region'].value_counts()

Region
West       3203
East       2848
Central    2323
South      1620
Name: count, dtype: int64

In [15]:
## Question 9: Count number of orders by state.
df['State'].value_counts()

State
California              2001
New York                1128
Texas                    985
Pennsylvania             587
Washington               506
Illinois                 492
Ohio                     469
Florida                  383
Michigan                 255
North Carolina           249
Arizona                  224
Virginia                 224
Georgia                  184
Tennessee                183
Colorado                 182
Indiana                  149
Kentucky                 139
Massachusetts            135
New Jersey               130
Oregon                   124
Wisconsin                110
Maryland                 105
Delaware                  96
Minnesota                 89
Connecticut               82
Missouri                  66
Oklahoma                  66
Alabama                   61
Arkansas                  60
Rhode Island              56
Utah                      53
Mississippi               53
South Carolina            42
Louisiana                 42
Nevada                    39
Nebraska                  38
New Mexico                37
Iowa                      30
New Hampshire             27
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
Vermont                   11
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: count, dtype: int64

In [16]:
## Question 10: Count number of orders by city.
df['City'].value_counts()

City
New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Seattle          428
                ...
Abilene            1
Montebello         1
Kissimmee          1
Danbury            1
Springdale         1
Name: count, Length: 531, dtype: int64

In [17]:
## Question 11: Find the most common ship mode.
df['Ship Mode'].value_counts()

Ship Mode
Standard Class    5968
Second Class      1945
First Class       1538
Same Day           543
Name: count, dtype: int64

In [18]:
## Question 12: Find the least common ship mode.
df['Ship Mode'].value_counts().idxmin()

'Same Day'

In [19]:
## Question 13: Count number of orders shipped with "Same Day" mode.
df[df['Ship Mode'] == 'Same Day'].shape[0]

543

In [20]:
## Question 14: Count number of orders shipped with "First Class".
df[df['Ship Mode'] == 'First Class'].shape[0]

1538

In [21]:
## Question 15: Count number of orders shipped with "Second Class".
df[df['Ship Mode'] == 'Second Class'].shape[0]

1945

In [22]:
## Question 16: Count number of orders shipped with "Standard Class".
df['Ship Mode'].value_counts()['Standard Class']

np.int64(5968)

In [23]:
## Question 17: Find number of orders in each year.
df['Order Date'].dt.year.value_counts()

Order Date
2017    3312
2016    2587
2015    2102
2014    1993
Name: count, dtype: int64

In [24]:
## Question 17: Find number of orders in each year.
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Year'] = df['Order Date'].dt.year
df['Year'].value_counts()

Year
2017    3312
2016    2587
2015    2102
2014    1993
Name: count, dtype: int64

In [25]:
## Question 18: Find number of orders in each quarter.
df['Quarter'] = df['Order Date'].dt.quarter
df['Quarter'].value_counts()

Quarter
4    3698
3    2799
2    2120
1    1377
Name: count, dtype: int64

In [26]:
## Question 19: Find number of orders in each month.
df['Month'] = df['Order Date'].dt.month
df['Month'].value_counts()

Month
11    1471
12    1408
9     1383
10     819
5      735
6      717
7      710
8      706
3      696
4      668
1      381
2      300
Name: count, dtype: int64

In [27]:
## Question 20: Find number of orders in each weekday.
df['Week Days'] = df['Order Date'].dt.weekday
df['Week Days'].value_counts()

Week Days
0    1871
4    1818
6    1710
5    1655
3    1463
1    1106
2     371
Name: count, dtype: int64

In [28]:
## Question 21: Count orders with discount applied.
df[df['Discount']>0].shape[0]

5196

In [29]:
## Question 22: Count orders without discount.
df[df['Discount'] == 0].shape[0]

4798

In [30]:
## Question 23: Count orders where discount = 0.
df[df['Discount'] == 0].shape[0]

4798

In [31]:
## Question 24: Count orders where discount > 0.2.
df[df['Discount'] > 0.2].shape[0]

1393

In [32]:
## Question 25: Count orders where discount = 0.5.
df[df['Discount'] == 0.5].shape[0]

66

In [33]:
## Question 26: Find maximum discount given.
df['Discount'].max()

0.8

In [34]:
## Question 27: Find minimum discount given.
df['Discount'].min()

0.0

In [35]:
## Question 28: Count orders where profit < 0.
df[df['Profit'] < 0].shape[0]

1871

In [36]:
## Question 29: Count orders where profit = 0.
df['Profit'].value_counts()[0]

np.int64(65)

In [37]:
## Question 30: Count orders where profit > 100.
df[df['Profit'] > 100].shape[0]

890

In [38]:
## Question 31: Count orders where sales > 1000.
df[df['Sales'] > 1000].shape[0]

468

In [39]:
## Question 32: Find total quantity sold.
df['Quantity'].sum()

np.int64(37873)

In [40]:
## Question 33: Find average quantity per order.
df['Quantity'].mean()

np.float64(3.789573744246548)

In [41]:
## Question 34: Find average sales per order.
df['Sales'].mean()

np.float64(229.85800083049833)

In [42]:
## Question 35: Find average profit per order.
df['Profit'].mean()

np.float64(28.656896307784663)

In [43]:
## Question 36: Find maximum sales in a single order.
df['Sales'].max()

22638.48

In [44]:
## Question 37: Find minimum sales in a single order.
df['Sales'].min()

0.44399999999999995

In [45]:
## Question 38: Find maximum profit in a single order.
df['Profit'].max()

8399.975999999999

In [46]:
## Question 39: Find minimum profit in a single order.
df['Profit'].min()

-6599.978000000001

In [48]:
## Question 40: Find number of orders per customer.
df['Customer ID'].value_counts()

Customer ID
WB-21850    37
MA-17560    34
JL-15835    34
PP-18955    34
CK-12205    32
            ..
AO-10810     1
LD-16855     1
JR-15700     1
CJ-11875     1
RE-19405     1
Name: count, Length: 793, dtype: int64

In [54]:
## Question 41: Find customers who placed only 1 order.
df[df['Order ID'] == 1].value_counts()

Series([], Name: count, dtype: int64)